:root {
  color: #2c3e50;
}

a,
a:active,
a:hover,
a:visited {
  color: #2c3e50;
  text-decoration: none;
  border-bottom: solid 3px #6bffdf87;
}

a:hover {
  border-bottom: solid 3px #6bffe0;
}

h1,
h2,
h3,
h4 {
  /* Try using Muli from Google for Windows after Avenir */
  font-family: Avenir, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  color: #2e3673;
  margin-top: 1.5em;
  line-height: initial;
}

h4 {
  font-size: 1.333em;
}

h3 {
  font-size: 1.777em;
}

h2 {
  font-size: 2.369em;
}

h1 {
  font-size: 4.208em;
}

li {
  margin: 0 10px;
}

p {
  text-align: left;
}

ul {
  list-style-type: none;
  padding: 0;
}

code {
  border-radius: 10%;
  padding: 0 0.25em;
  font-family: Menlo, Consolas, Monaco, "Liberation Mono", "Lucida Console",
    monospace;
  font-size: 0.9em;
  font-weight: 600;
  color: #444;
  background-color: #eee;
  box-shadow: 0 0 10px #eee;
}

.bordered {
  margin: 2rem initial;
  border: solid 4px #2e3673;
  min-height: 6rem;
  padding: 2rem 1rem;
}

.inverted {
  overflow: auto;
  background-color: #2e3673;
  color: white;
}

.inverted h1,
.inverted h2,
.inverted h3,
.inverted h4 {
  margin: 1rem;
  color: white;
}
