* {
  margin: 0;
  padding: 0;
}

:root {
  color: #2c3e50;
}

a,
a:link,
a:active,
a:hover,
a:visited {
  color: #2c3e50;
  text-decoration: none;
  border-bottom: solid 3px #6bffdf87;
}

a:hover {
  border-bottom: solid 3px #6bffe0;
}

h1,
h2,
h3,
h4 {
  /* Try using Muli from Google for Windows after Avenir */
  font-family: Avenir, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  color: #2e3673;
  margin-top: 1em;
  margin-bottom: .5em;
  line-height: initial;
}

@media (min-width: 1000px) {
  h1,
  h2,
  h3,
  h4 {
    margin-top: 1.5em;
  }  
}

h4 {
  font-size: 1.333em;
}

h3 {
  font-size: 1.777em;
}

h2 {
  font-size: 2.369em;
}

h1 {
  font-size: 4.208em;
}

li {
  margin: 0 10px;
}

p {
  text-align: left;
  margin-bottom: 1em;
}

ul {
  list-style-type: none;
  padding: 0;
}

code {
  border-radius: 10%;
  padding: 0 0.25em;
  font-family: Menlo, Consolas, Monaco, "Liberation Mono", "Lucida Console",
    monospace;
  font-size: 0.9em;
  font-weight: 600;
  color: #444;
  background-color: #eee;
  box-shadow: 0 0 10px #eee;
}

.app {
  margin: auto;
  margin-top: 60px;
  margin-bottom: -250px;
  max-width: 40rem; /* Around 70 characters. Would prefer to use the ch value, but fails for media queries */
  min-height: 100%;
  padding: 0 1em;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  line-height: 1.5em;
  text-align: center;
}

.content {
  min-height: calc(100vh - 310px);
}

.section {
  padding: 2.369em;
  margin: 2.369em 0;
}

.bordered {
  margin-top: 2rem;
  margin-bottom: 2rem;
  border: solid 4px #2e3673;
  min-height: 6rem;
  padding: 2rem 1rem;
}

.inverted {
  overflow: auto;
  background-color: #2e3673;
  color: white;
}

.inverted h1,
.inverted h2,
.inverted h3,
.inverted h4 {
  margin: 1rem;
  color: white;
}
